[Unit]
Description=Start tmux server and sessions
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tmux start-server \; new-session -d -s main
RemainAfterExit=true

[Install]
WantedBy=default.target
